*~
*.user
*.user.*
*.o
*.qm
*.exe
*.exe_manifest.*
*.ser
*.manifest
*.res
*.ilk
*.pdb
*.autosave
version.h
.directory
Thumbs.db
desktop.ini
Makefile
Makefile.Debug
Makefile.Release
/Quazaa/bin/Quazaa_debug
/Quazaa/bin/Quazaa
/Makefile
/Quazaa/debug
/Quazaa/temp
/VersionTool/debug
/VersionTool/release
/Quazaa/bin/libeay32.dll
/Quazaa/bin/libssl32.dll
/Quazaa/bin/ssleay32.dll
/Quazaa/release

/Quazaa/object_script.Quazaa.Release

/Quazaa/object_script.Quazaa_debug.Debug
