[submodule "Quazaa/3rdparty/qtping"]
	path = Quazaa/3rdparty/qtping
	url = https://git.gitorious.org/neoframework/qtping.git
[submodule "Quazaa/3rdparty/communi-desktop/src/backend"]
	path = Quazaa/3rdparty/communi-desktop/src/backend
	url = https://github.com/communi/libcommuni.git
