*~
*.user
*.user.*
*.o
*.qm
*.exe
*.exe_manifest.*
*.ser
*.manifest
*.res
*.ilk
*.pdb
*.autosave
version.h
.directory
Thumbs.db
desktop.ini
Makefile
Makefile.Debug
Makefile.Release
/Makefile
/Quazaa/bin/libeay32.dll
/Quazaa/bin/libssl32.dll
/Quazaa/bin/Quazaa
/Quazaa/bin/Quazaa_debug
/Quazaa/bin/ssleay32.dll
/Quazaa/debug
/Quazaa/release
/Quazaa/temp
/UnitTests/debug
/UnitTests/release
/UnitTests/temp
/VersionTool/debug
/VersionTool/release

/Quazaa/object_script.Quazaa.Release
/Quazaa/object_script.Quazaa_debug.Debug
