*~
*.user
*.user.*
*.o
*.qm
*.exe
*.exe_manifest.*
*.ser
*.manifest
*.res
*.ilk
*.pdb
*.autosave
version.h
.directory
Thumbs.db
desktop.ini
Makefile
Makefile.Debug
Makefile.Release
/Quazaa/bin/Quazaa_debug
/Quazaa/bin/Quazaa
/Makefile
/Quazaa/debug
/Quazaa/temp
/VersionTool/debug
/VersionTool/release
